<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="TeacherMapper"> <!-- namespace는 파일명과 동일하게 -->
  
  <!-- insert id = join -->
  	
  	<insert id="joinTeacher" parameterType="com.choa.member.teacher.TeacherDTO">
  		insert into teacher values(#{id}, #{subject}, sysdate)
  	</insert>
  	
  	<select id="memberLogin" parameterType="com.choa.member.MemberDTO" resultType="com.choa.member.student.StudentDTO">
  		select m.*,t.* from member m, teacher t where m.id=t.tid and m.id=#{id} and m.pw=#{pw}
  	</select>
  	
  
  	<select id="memberPage" parameterType="java.lang.String" resultType="com.choa.member.teacher.TeacherDTO">
  		select * from teacher where tid=#{id}
  	</select>
  	
  </mapper>